In [12]:
# Sales Receipts
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName('Read Sales Receipt CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\201904 sales reciepts.csv'

# Read csv file into Data frame
sales_receipt_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
sales_receipt_data.printSchema() 
cd_row = sales_receipt_data.count()
cd_cols = len(sales_receipt_data.columns)

# See data overview
print(cd_row, cd_cols)

sales_receipt_data.show()
# Stop the Spark session
spark.stop()

root
 |-- transaction_id: integer (nullable = true)
 |-- transaction_date: date (nullable = true)
 |-- transaction_time: timestamp (nullable = true)
 |-- sales_outlet_id: integer (nullable = true)
 |-- staff_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- instore_yn: string (nullable = true)
 |-- order: integer (nullable = true)
 |-- line_item_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- line_item_amount: double (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- promo_item_yn: string (nullable = true)

49894 14
+--------------+----------------+-------------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
|transaction_id|transaction_date|   transaction_time|sales_outlet_id|staff_id|customer_id|instore_yn|order|line_item_id|product_id|quantity|line_item_amount|unit_price|promo_item_yn|
+--------------+----------------+-------------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
|             7|      2019-04-01|2024-02-05 12:04:43|              3|      12|        558|         N|    1|           1|        52|       1|             2.5|       2.5|            N|
|            11|      2019-04-01|2024-02-05 15:54:39|              3|      17|        781|         N|    1|           1|        27|       2|             7.0|       3.5|            N|
|            19|      2019-04-01|2024-02-05 14:34:59|              3|      17|        788|         Y|    1|           1|        46|       2|             5.0|       2.5|            N|
|            32|      2019-04-01|2024-02-05 16:06:04|              3|      12|        683|         N|    1|           1|        23|       2|             5.0|       2.5|            N|
|            33|      2019-04-01|2024-02-05 19:18:37|              3|      17|         99|         Y|    1|           1|        34|       1|            2.45|      2.45|            N|
|            39|      2019-04-01|2024-02-05 18:54:46|              3|      17|        664|         Y|    1|           1|        32|       1|             3.0|       3.0|            N|
|            50|      2019-04-01|2024-02-05 13:03:49|              3|      12|        316|         N|    1|           1|        49|       2|             6.0|       3.0|            N|
|            53|      2019-04-01|2024-02-05 11:21:14|              3|      12|         38|         N|    1|           1|        60|       1|            3.75|      3.75|            N|
|            59|      2019-04-01|2024-02-05 19:30:55|              3|      12|        370|         Y|    1|           1|        51|       2|             6.0|       3.0|            N|
|            62|      2019-04-01|2024-02-05 12:01:00|              3|      12|        180|         Y|    1|           1|        49|       2|             6.0|       3.0|            N|
|            81|      2019-04-01|2024-02-05 13:20:51|              3|      12|         35|         Y|    1|           1|        35|       2|             6.2|       3.1|            N|
|            90|      2019-04-01|2024-02-05 11:40:20|              3|      17|        595|         N|    1|           1|        47|       1|             3.0|       3.0|            N|
|            91|      2019-04-01|2024-02-05 12:27:43|              3|      12|        500|         N|    1|           1|        25|       2|             4.4|       2.2|            N|
|            94|      2019-04-01|2024-02-05 17:37:02|              3|      17|        128|         Y|    1|           1|        23|       2|             5.0|       2.5|            N|
|           101|      2019-04-01|2024-02-05 12:26:34|              3|      17|        599|         Y|    1|           1|        48|       2|             5.0|       2.5|            N|
|           103|      2019-04-01|2024-02-05 14:33:32|              3|      17|        152|         Y|    1|           1|        53|       2|             6.0|       3.0|            N|
|           108|      2019-04-01|2024-02-05 16:11:18|              3|      17|         65|         N|    1|           1|        40|       1|            3.75|      3.75|            N|
|           112|      2019-04-01|2024-02-05 13:03:38|              3|      12|         90|         Y|    1|           1|        37|       2|             6.0|       3.0|            N|
|           117|      2019-04-01|2024-02-05 18:25:04|              3|      12|         82|         Y|    1|           1|        60|       1|            3.75|      3.75|            N|
|           120|      2019-04-01|2024-02-05 15:51:44|              3|      12|        174|         N|    1|           1|        53|       2|             6.0|       3.0|            N|
+--------------+----------------+-------------------+---------------+--------+-----------+----------+-----+------------+----------+--------+----------------+----------+-------------+
only showing top 20 rows

In [14]:
# Customer
spark = SparkSession.builder \
        .appName('Read Customer CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\customer.csv'

# Read csv file into Data frame
cust_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
cust_data.printSchema() 
cd_row = cust_data.count()
cd_cols = len(cust_data.columns)

# See data overview
print(cd_row, cd_cols)

cust_data.show()
# Stop the Spark session
# spark.stop()

root
 |-- customer_id: integer (nullable = true)
 |-- home_store: integer (nullable = true)
 |-- customer_first-name: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_since: date (nullable = true)
 |-- loyalty_card_number: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- gender: string (nullable = true)
 |-- birth_year: integer (nullable = true)

2246 9
+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
|customer_id|home_store|customer_first-name|      customer_email|customer_since|loyalty_card_number| birthdate|gender|birth_year|
+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
|          1|         3|          Kelly Key|Venus@adipiscing.edu|    2017-01-04|       908-424-2890|1950-05-29|     M|      1950|
|          2|         3|    Clark Schroeder|      Nora@fames.gov|    2017-01-07|       032-732-6308|1950-07-30|     M|      1950|
|          3|         3|     Elvis Cardenas|  Brianna@tellus.edu|    2017-01-10|       459-375-9187|1950-09-30|     M|      1950|
|          4|         3|       Rafael Estes|         Ina@non.gov|    2017-01-13|       576-640-9226|1950-12-01|     M|      1950|
|          5|         3|         Colin Lynn|    Dale@Integer.com|    2017-01-15|       344-674-6569|1951-02-01|     M|      1951|
|          6|         3|         Igor Beach|     Caleb@morbi.net|    2017-01-18|       114-126-1992|1951-04-04|     M|      1951|
|          7|         3|       Scott Holden|     Yen@Integer.edu|    2017-01-21|       384-074-3606|1951-06-05|     M|      1951|
|          8|         3|       Keegan Ayala|     Tana@sociis.com|    2017-01-24|       257-308-7675|1951-08-07|     M|      1951|
|          9|         3|         Amir Byers|Madeson@malesuada.us|    2017-01-26|       931-925-0273|1951-10-08|     M|      1951|
|         10|         3|       Magee Malone|  Anjolie@sapien.gov|    2017-01-29|       359-150-6747|1951-12-09|     M|      1951|
|         11|         3|        Dolan Petty|   Kim@convallis.edu|    2017-02-01|       547-881-4488|1952-02-09|     M|      1952|
|         12|         3|        Wang Hebert|    Hollee@lorem.net|    2017-02-04|       605-014-6218|1952-04-11|     M|      1952|
|         13|         3|        Wayne David|    Slade@sapien.edu|    2017-02-06|       430-935-8698|1952-06-12|     M|      1952|
|         14|         3|    Colin Fernandez|    Thaddeus@non.com|    2017-02-09|       703-178-5883|1952-08-13|     M|      1952|
|         15|         3| Holmes Blankenship|  Marvin@accumsan.us|    2017-02-12|       959-439-4036|1952-10-15|     M|      1952|
|         16|         3|         Ali French|    Uriah@magnis.org|    2017-02-15|       169-057-5893|1952-12-16|     M|      1952|
|         17|         3|      Josiah Burton|    Sacha@Nullam.edu|    2017-02-17|       373-811-5424|1953-02-16|     M|      1953|
|         18|         3|       Drew Skinner| Rashad@faucibus.net|    2017-02-20|       981-655-9539|1953-04-19|     M|      1953|
|         19|         3|       Henry Wilcox|     Dexter@nisl.gov|    2017-02-23|       833-172-4578|1953-06-20|     M|      1953|
|         20|         3|       Nathan Riggs|     Iris@aptent.com|    2017-02-26|       639-354-7929|1953-08-21|     M|      1953|
+-----------+----------+-------------------+--------------------+--------------+-------------------+----------+------+----------+
only showing top 20 rows

In [53]:
# Let's have a look at each column and see what and how many the distinct values are at each
# Get columns in cust data
columns_for_iteration = []
for column in cust_data.columns:
    column_name = cust_data.select(column).alias(column)
    columns_for_iteration.append(column_name)
for column_names in columns_for_iteration:
    dist_count = column_names.distinct().count()
    if dist_count < 20:
        column_names.distinct().show()
        print(f"Distinct count for {column_names}:" , dist_count)
    else:
        print(f"Distinct count for {column_names} has more than 20. here's the figure:" , dist_count)
#cust_data['home_store'].distinct()

Distinct count for DataFrame[customer_id: int] has more than 20. here's the figure: 2246
+----------+
|home_store|
+----------+
|         3|
|         5|
|         8|
+----------+

Distinct count for DataFrame[home_store: int]: 3
Distinct count for DataFrame[customer_first-name: string] has more than 20. here's the figure: 1640
Distinct count for DataFrame[customer_email: string] has more than 20. here's the figure: 2246
Distinct count for DataFrame[customer_since: date] has more than 20. here's the figure: 794
Distinct count for DataFrame[loyalty_card_number: string] has more than 20. here's the figure: 2246
Distinct count for DataFrame[birthdate: date] has more than 20. here's the figure: 1883
+------+
|gender|
+------+
|     F|
|     M|
|     N|
+------+

Distinct count for DataFrame[gender: string]: 3
Distinct count for DataFrame[birth_year: int] has more than 20. here's the figure: 52

In [6]:
# Dates csv
spark = SparkSession.builder \
        .appName('Read date CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\Dates.csv'

# Read csv file into Data frame
date_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
date_data.printSchema() 
cd_row = date_data.count()
cd_cols = len(date_data.columns)

# See data overview
print(cd_row, cd_cols)

date_data.show()
# Stop the Spark session

root
 |-- transaction_date: string (nullable = true)
 |-- Date_ID: integer (nullable = true)
 |-- Week_ID: integer (nullable = true)
 |-- Week_Desc: string (nullable = true)
 |-- Month_ID: integer (nullable = true)
 |-- Month_Name: string (nullable = true)
 |-- Quarter_ID: integer (nullable = true)
 |-- Quarter_Name: string (nullable = true)
 |-- Year_ID: integer (nullable = true)

30 9
+----------------+--------+-------+---------+--------+----------+----------+------------+-------+
|transaction_date| Date_ID|Week_ID|Week_Desc|Month_ID|Month_Name|Quarter_ID|Quarter_Name|Year_ID|
+----------------+--------+-------+---------+--------+----------+----------+------------+-------+
|        4/1/2019|20190401|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/2/2019|20190402|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/3/2019|20190403|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/4/2019|20190404|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/5/2019|20190405|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/6/2019|20190406|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/7/2019|20190407|     14|  Week 14|       4|     April|         2|          Q2|   2019|
|        4/8/2019|20190408|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|        4/9/2019|20190409|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/10/2019|20190410|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/11/2019|20190411|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/12/2019|20190412|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/13/2019|20190413|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/14/2019|20190414|     15|  Week 15|       4|     April|         2|          Q2|   2019|
|       4/15/2019|20190415|     16|  Week 16|       4|     April|         2|          Q2|   2019|
|       4/16/2019|20190416|     16|  Week 16|       4|     April|         2|          Q2|   2019|
|       4/17/2019|20190417|     16|  Week 16|       4|     April|         2|          Q2|   2019|
|       4/18/2019|20190418|     16|  Week 16|       4|     April|         2|          Q2|   2019|
|       4/19/2019|20190419|     16|  Week 16|       4|     April|         2|          Q2|   2019|
|       4/20/2019|20190420|     16|  Week 16|       4|     April|         2|          Q2|   2019|
+----------------+--------+-------+---------+--------+----------+----------+------------+-------+
only showing top 20 rows

In [1]:
# Generations csv
spark = SparkSession.builder \
        .appName('Read Generations CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\generations.csv'

# Read csv file into Data frame
Generations_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
Generations_data.printSchema() 
cd_row = Generations_data.count()
cd_cols = len(Generations_data.columns)

# See data overview
print(cd_row, cd_cols)

Generations_data.show()
# Stop the Spark session

root
 |-- birth_year: integer (nullable = true)
 |-- generation: string (nullable = true)

70 2
+----------+------------+
|birth_year|  generation|
+----------+------------+
|      1946|Baby Boomers|
|      1947|Baby Boomers|
|      1948|Baby Boomers|
|      1949|Baby Boomers|
|      1950|Baby Boomers|
|      1951|Baby Boomers|
|      1952|Baby Boomers|
|      1953|Baby Boomers|
|      1954|Baby Boomers|
|      1955|Baby Boomers|
|      1956|Baby Boomers|
|      1957|Baby Boomers|
|      1958|Baby Boomers|
|      1959|Baby Boomers|
|      1960|Baby Boomers|
|      1961|Baby Boomers|
|      1962|Baby Boomers|
|      1963|Baby Boomers|
|      1964|Baby Boomers|
|      1965|       Gen X|
+----------+------------+
only showing top 20 rows

In [3]:
# Pastry Inventory csv
spark = SparkSession.builder \
        .appName('Read Pastry Inventory CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\pastry inventory.csv'

# Read csv file into Data frame
pastry_inventory_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
pastry_inventory_data.printSchema() 
cd_row = pastry_inventory_data.count()
cd_cols = len(pastry_inventory_data.columns)

# See data overview
print(cd_row, cd_cols)

pastry_inventory_data.show()
# Stop the Spark session

root
 |-- sales_outlet_id: integer (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- start_of_day: integer (nullable = true)
 |-- quantity_sold: integer (nullable = true)
 |-- waste: integer (nullable = true)
 |-- % waste: string (nullable = true)

307 7
+---------------+----------------+----------+------------+-------------+-----+-------+
|sales_outlet_id|transaction_date|product_id|start_of_day|quantity_sold|waste|% waste|
+---------------+----------------+----------+------------+-------------+-----+-------+
|              3|        4/1/2019|        69|          18|            8|   10|    56%|
|              3|        4/1/2019|        70|          18|           12|    6|    33%|
|              3|        4/1/2019|        71|          18|            8|   10|    56%|
|              3|        4/1/2019|        72|          48|            9|   39|    81%|
|              3|        4/1/2019|        73|          18|            9|    9|    50%|
|              3|        4/2/2019|        69|          18|            7|   11|    61%|
|              3|        4/2/2019|        70|          18|           10|    8|    44%|
|              3|        4/2/2019|        71|          18|           10|    8|    44%|
|              3|        4/2/2019|        72|          48|           10|   38|    79%|
|              3|        4/2/2019|        73|          18|            9|    9|    50%|
|              3|        4/3/2019|        69|          18|            8|   10|    56%|
|              3|        4/3/2019|        70|          18|            5|   13|    72%|
|              3|        4/3/2019|        71|          18|            4|   14|    78%|
|              3|        4/3/2019|        72|          48|            9|   39|    81%|
|              3|        4/3/2019|        73|          18|           15|    3|    17%|
|              3|        4/4/2019|        69|          18|           10|    8|    44%|
|              3|        4/4/2019|        70|          18|            9|    9|    50%|
|              3|        4/4/2019|        71|          18|           10|    8|    44%|
|              3|        4/4/2019|        72|          48|           10|   38|    79%|
|              3|        4/4/2019|        73|          18|            9|    9|    50%|
+---------------+----------------+----------+------------+-------------+-----+-------+
only showing top 20 rows

In [4]:
# Product csv
spark = SparkSession.builder \
        .appName('Read Product Inventory CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\product.csv'

# Read csv file into Data frame
product_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
product_data.printSchema() 
cd_row = product_data.count()
cd_cols = len(product_data.columns)

# See data overview
print(cd_row, cd_cols)

product_data.show()
# Stop the Spark session

root
 |-- product_id: integer (nullable = true)
 |-- product_group: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_type: string (nullable = true)
 |-- product: string (nullable = true)
 |-- product_description: string (nullable = true)
 |-- unit_of_measure: string (nullable = true)
 |-- current_wholesale_price: double (nullable = true)
 |-- current_retail_price: string (nullable = true)
 |-- tax_exempt_yn: string (nullable = true)
 |-- promo_yn: string (nullable = true)
 |-- new_product_yn: string (nullable = true)

88 12
+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
|product_id|  product_group|  product_category|      product_type|             product| product_description|unit_of_measure|current_wholesale_price|current_retail_price|tax_exempt_yn|promo_yn|new_product_yn|
+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
|         1|Whole Bean/Teas|      Coffee beans|     Organic Beans| Brazilian - Organic|It's like Carniva...|          12 oz|                   14.4|             $18.00 |            Y|       N|             N|
|         2|Whole Bean/Teas|      Coffee beans| House blend Beans|Our Old Time Dine...|Out packed blend ...|          12 oz|                   14.4|             $18.00 |            Y|       N|             N|
|         3|Whole Bean/Teas|      Coffee beans|    Espresso Beans|      Espresso Roast|Our house blend f...|           1 lb|                   11.8|             $14.75 |            Y|       N|             N|
|         4|Whole Bean/Teas|      Coffee beans|    Espresso Beans|Primo Espresso Roast|Our primium singl...|           1 lb|                  16.36|             $20.45 |            Y|       N|             N|
|         5|Whole Bean/Teas|      Coffee beans|     Gourmet Beans|Columbian Medium ...|A smooth cup of c...|           1 lb|                   12.0|             $15.00 |            Y|       N|             N|
|         6|Whole Bean/Teas|      Coffee beans|     Gourmet Beans|            Ethiopia|From the home of ...|           1 lb|                   16.8|             $21.00 |            Y|       N|             N|
|         7|Whole Bean/Teas|      Coffee beans|     Premium Beans|Jamacian Coffee R...|Ya man, it will s...|           1 lb|                   15.8|             $19.75 |            Y|       N|             N|
|         8|Whole Bean/Teas|      Coffee beans|     Premium Beans|           Civet Cat|The most expensiv...|          .5 lb|                   36.0|             $45.00 |            Y|       N|             N|
|         9|Whole Bean/Teas|      Coffee beans|     Organic Beans| Organic Decaf Blend|Our blend of hand...|           1 lb|                   18.0|             $22.50 |            Y|       N|             N|
|        10|Whole Bean/Teas|      Coffee beans|       Green beans|Guatemalan Sustai...|Green beans you c...|           1 lb|                    8.0|             $10.00 |            Y|       N|             N|
|        11|Whole Bean/Teas|         Loose Tea|        Herbal tea|         Lemon Grass|You will think yo...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        12|Whole Bean/Teas|         Loose Tea|        Herbal tea|          Peppermint|Cool and refreshi...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        13|Whole Bean/Teas|         Loose Tea|         Black tea|   English Breakfast|The traditional c...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        14|Whole Bean/Teas|         Loose Tea|         Black tea|           Earl Grey|A full leaf of Or...|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        15|Whole Bean/Teas|         Loose Tea|         Green tea|  Serenity Green Tea|Mountain grown an...|           1 oz|                    7.4|              $9.25 |            Y|       N|             N|
|        16|Whole Bean/Teas|         Loose Tea|          Chai tea|Traditional Blend...|A traditional blend.|          .9 oz|                   7.16|              $8.95 |            Y|       N|             N|
|        17|Whole Bean/Teas|         Loose Tea|          Chai tea|Morning Sunrise Chai|Fair trade and or...|          .9 oz|                    7.6|              $9.50 |            Y|       N|             N|
|        18|Whole Bean/Teas|         Loose Tea|          Chai tea|Spicy Eye Opener ...|A spicier blend t...|          .9 oz|                   8.76|             $10.95 |            Y|       N|             N|
|        19|Whole Bean/Teas|Packaged Chocolate|Drinking Chocolate|      Dark chocolate|This drinking cho...|           1 lb|                   5.12|              $6.40 |            Y|       N|             N|
|        20|Whole Bean/Teas|Packaged Chocolate| Organic Chocolate|Sustainably Grown...|Certified organic...|           1 lb|                   6.08|              $7.60 |            Y|       N|             N|
+----------+---------------+------------------+------------------+--------------------+--------------------+---------------+-----------------------+--------------------+-------------+--------+--------------+
only showing top 20 rows

In [5]:
# Staff csv
spark = SparkSession.builder \
        .appName('Read Staff Inventory CSV file') \
        .getOrCreate()

# Add flat file path
path = r'G:\Data Science Job and Internship\Personal Projects\DW-Analytics-Personal-Project\Flat-files\Staff.csv'

# Read csv file into Data frame
Staff_data = spark.read.csv(path, header = True, inferSchema = True)

# Show dataframe schema and data shape
Staff_data.printSchema() 
cd_row = Staff_data.count()
cd_cols = len(Staff_data.columns)

# See data overview
print(cd_row, cd_cols)

Staff_data.show()
# Stop the Spark session

root
 |-- staff_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- position: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- location: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

55 8
+--------+----------+---------+---------------+----------+--------+----+----+
|staff_id|first_name|last_name|       position|start_date|location| _c6| _c7|
+--------+----------+---------+---------------+----------+--------+----+----+
|       1|       Sue|  Tindale|            CFO|  8/3/2001|      HQ|NULL|NULL|
|       2|       Ian|  Tindale|            CEO|  8/3/2001|      HQ|NULL|NULL|
|       3|     Marny| Hermione|        Roaster|10/24/2007|      WH|NULL|NULL|
|       4|   Chelsea|  Claudia|        Roaster|  7/3/2003|      WH|NULL|NULL|
|       5|      Alec|  Isadora|        Roaster|  4/2/2008|      WH|NULL|NULL|
|       6|      Xena|    Rahim|  Store Manager| 7/24/2016|       3|NULL|NULL|
|       7|    Kelsey|  Cameron|Coffee Wrangler|10/18/2003|       3|NULL|NULL|
|       8|  Hamilton|      Emi|Coffee Wrangler|  2/9/2005|       3|NULL|NULL|
|       9|  Caldwell|     Veda|Coffee Wrangler|  9/9/2013|       3|NULL|NULL|
|      10|       Ima| Winifred|Coffee Wrangler|12/10/2016|       3|NULL|NULL|
|      11|      Ruth|   Leslie|  Store Manager| 6/17/2009|       4|NULL|NULL|
|      12|  Britanni|   Jorden|Coffee Wrangler| 3/25/2006|       4|NULL|NULL|
|      13|      Berk|    Derek|Coffee Wrangler|12/11/2009|       4|NULL|NULL|
|      14|     Damon|    Sasha|Coffee Wrangler|  6/5/2010|       4|NULL|NULL|
|      15|  Remedios|     Mari|Coffee Wrangler|  5/9/2014|       4|NULL|NULL|
|      16|      Reed|      Eve|  Store Manager| 3/30/2006|       5|NULL|NULL|
|      17|     Quail|  Octavia|Coffee Wrangler| 12/5/2014|       5|NULL|NULL|
|      18|   Ezekiel|   Rashad|Coffee Wrangler|11/13/2005|       5|NULL|NULL|
|      19|     Peter|   Paloma|Coffee Wrangler| 3/12/2014|       5|NULL|NULL|
|      20|     Ronan|    Magee|Coffee Wrangler| 2/13/2002|       5|NULL|NULL|
+--------+----------+---------+---------------+----------+--------+----+----+
only showing top 20 rows